<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ІтальяноУпаняно</title>
</head>
<body>
{% include "base.html" %}
    <h1>Меню піц</h1>
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/27/a8/4f/pizza-vajnory.jpg?w=600&h=400&s=1" alt="">

    {% for pizza in pizzas %}
        <h1>{{pizza.name}}</h1>
        <p>{{pizza.ingredients}}</p>
        <p>{{pizza.price}} грн</p>
        <button onclick="addToCart('{{ pizza.name }}', {{ pizza.price }})">Замовити</button>
        <hr>
    {% endfor %}
</body>
</html>